*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #a54a46;
}
.logo img{
    display: none;
}
nav{
    background-color: rgb(221, 199, 172, 0.5);
    border-bottom: 1px dotted black;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 5% 0;
    margin: 0 15%;
}
li{
    list-style: none;
}
a{
    color: #a54a46;
    text-decoration: none;
}
a:hover{
    font-size: 1.2em;
}
header{
    height: 100vh;
    background-image: url('child1000.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome{
    margin: 15% 2% 0 2%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}
h1{
    font-weight: 400;
    font-size: 2em;
    text-shadow: 1px 1px 2px black;
    align-items: center;
    width: 35%;
}
h1 a{
    font-size: 1.2em;
    color: antiquewhite;
}
h1 a:hover{
    font-size: 1.5em;
}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
header aside{
    width: 17%;
    margin-bottom: 5%;
    font-weight: 700;
    font-size: 1.2em;
    text-shadow: 1px 1px 2px black;
    margin-left: 3%;
}
.create{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.create img{
    border: 2px solid rgba(248,248,248,.5);
    border-radius: 50%;
    margin: 10vh;
    width: 25vw;
}
  
.create p{
    padding: 10%;
    font-size: 2em;
    color: black;
}
.gallery{
    height: 100vh;
    width: 100vw;
    background-color: rgba(147,191,210,255);
}
.gallery h2{
    margin-left: 15%;
    font-size: 2em;
    transform: translateY(5vh);
}
.flip{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 1500px;
    padding: 0 10%;
}
  
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;;
    -webkit-transition: all 700ms ease-in;
}
  
.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
  
.panel.active {
    flex: 5;
}
  
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}
#inquiry{
    height: 80vh;
    position: relative;
    background-color: rgb(236, 219, 197);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#inquiry h2{
    padding: 2%;
}
#contact h2{
    margin-top: 20px;
}
#contact textarea{
    width: 70vw;
    max-width: 1200px;
}
#contact input{
    position: relative;
    width: 34vw;
    line-height: 40px;
}
form div{
    padding: 1vh 0;
    position: relative;
}
form .sidebyside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
form div .half input{
    line-height: 30px;
    width: 100%;
    position: relative;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 600;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: rgba(144, 144, 144, 0.25);
    border-radius: 3px;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
    line-height: 45px;
}

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    select:focus,
    textarea:focus {
        box-shadow: 0 0 0 2px #21b2a6;
    }

select {
    background-size: 1.25em;
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) center;
    height: 2.75em;
    padding-right: 2.75em;
    text-overflow: ellipsis;
}

    select:focus::-ms-value {
        background-color: transparent;
    }

    select::-ms-expand {
        display: none;
    }

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

    input[type="checkbox"] + label,
    input[type="radio"] + label {
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        padding-left: 2.4em;
        padding-right: 0.75em;
        position: relative;
    }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            text-transform: none !important;
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
        }

        input[type="checkbox"] + label:before,
        input[type="radio"] + label:before {
            background: rgba(144, 144, 144, 0.25);
            border-radius: 3px;
            content: '';
            display: inline-block;
            font-size: 0.8em;
            height: 2.0625em;
            left: 0;
            line-height: 2.0625em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2.0625em;
        }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
        background: #2e3842;
        color: #fff;
        content: '\f00c';
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
        box-shadow: 0 0 0 2px #21b2a6;
    }

input[type="checkbox"] + label:before {
    border-radius: 3px;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
    opacity: 1.0;
}

footer{
    background-color: burlywood;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 20vh;
}
footer section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 5vh 5vw;
}
footer img{
    padding: 2vh 5vw;
    border-radius: 50%;
}

@media screen and (max-width: 500px){
    .flip{
        flex-direction: column;
    }
}


@media screen and (max-width: 950px) {
    .welcome{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header aside{
        display: none;
    }
}
@media screen and (max-width: 600px){
    header nav{
        font-size: .8em;
    }
}
@media screen and (max-width: 700px){
    .create{
        flex-direction: column;
        height: 80vh;
    }
    .create img{
        width: 50vw;
    }
    .create p{
        font-size: 1.2em;
        text-align: center;
        padding: 0 5% 5% 5%;
    }
}